<adl:VideoAnalyticsPipeline xmlns:adl="http://www.adlinktech.com/datariver/1.4/adl-pipeline-i">
  <adl:Application>
    <adl:Id>person_dection_and_tracking</adl:Id>
    <adl:ContextId>adlink.examples.idls.person_detection.1</adl:ContextId>
    <adl:LogLevel>Warning</adl:LogLevel>
  </adl:Application>
  <adl:FileSource>
    <adl:Enabled>true</adl:Enabled>
    <adl:Name>file1</adl:Name>
    <adl:Location>/home/adlink/projects/adl-video-analytics-pipeline/videos/head-pose-face-detection-female-and-male.mp4</adl:Location>
  </adl:FileSource>
  <adl:PrimaryInference>
    <adl:Detect>
      <adl:Name>pie</adl:Name>
      <adl:Enabled>true</adl:Enabled>
      <adl:Device>CPU</adl:Device>
      <adl:Model>etc/config/examples/person_detection_tracking/intel/person-detection-retail-0013/FP16/person-detection-retail-0013.xml</adl:Model>
    </adl:Detect>
  </adl:PrimaryInference>
  <adl:Track>
    <adl:Name>tracker</adl:Name>
    <adl:Enabled>true</adl:Enabled>
    <adl:TrackingType>short-term</adl:TrackingType>
  </adl:Track>
  <adl:Watermark>
    <adl:Name>ovsd</adl:Name>
    <adl:Enabled>false</adl:Enabled>
  </adl:Watermark>
  <adl:DecodeSink>
    <adl:Name>raw-stream</adl:Name>
    <adl:Enabled>false</adl:Enabled>
    <adl:FlowId>adlink.canada.cam.1</adl:FlowId>
  </adl:DecodeSink>
  <adl:InferenceSink>
    <adl:Name>inference-stream</adl:Name>
    <adl:Enabled>true</adl:Enabled>
    <adl:FlowId>adlink.canada.person_detection.1</adl:FlowId>
  </adl:InferenceSink>
  <adl:OverlaySink>
    <adl:Name>overlay-stream</adl:Name>
    <adl:Enabled>false</adl:Enabled>
    <adl:FlowId>adlink.canada.person_detection.1</adl:FlowId>
  </adl:OverlaySink>
</adl:VideoAnalyticsPipeline>